*.c		text eol=lf
*.disabled	text eol=lf
*.h		text eol=lf
*.LICENSE	text eol=lf
*.mb		text eol=lf
*.md		text eol=lf
*.pdf		binary
*.php		text eol=lf
*.pl		text eol=lf
*.py		text eol=lf
*.s		text eol=lf
*.S		text eol=lf
*.sh		text eol=lf
*.t		text eol=lf
*.txt		text eol=lf
